/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "grids";
@import "compass/reset";
@import "_header";
@import "_footer";
@import "_single";

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section {
  padding: 100px 0;
}

#page {
  width: 100%;
  margin: 0 auto;
}

.copyright {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  .design-sign {
    color: #2df555;
  }
}

.social-icons {
  display: inline;
  float: left;
  margin: 40px 0px;
  width: 100%;

  li {
    display: inline-block;
    margin: 0 2px;

    a {
      width: 29px;
      height: 29px;
      padding: 10px;
      color: #8a8a8a;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      border: 1px solid #373839;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .facebook:hover {
      background-color: #3b5998;
      border-color: #3b5998;
      color: #fff;
    }
    .twitter {
      &:hover {
        color: #fff;
        background-color: #00aced;
        border-color: #00aced;
      }
    }
    .google-plus {
      &:hover {
        color: #fff;
        background-color: #dd4b39;
        border-color: #dd4b39;
      }
    }
    .youtube {
      &:hover {
        color: #fff;
        background-color: #bb0000;
        border-color: #bb0000;
      }
    }
    .linkedin {
      &:hover {
        color: #fff;
        background-color: #007bb5;
        border-color: #007bb5;
      }
    }
    .dribbble {
      &:hover {
        color: #fff;
        background-color: #ea4c89;
        border-color: #ea4c89;
      }
    }
  }
}

.slider-wrapper {
  padding: 0;
}

.slideshow {
  .slideshow-item {
    .slideshow-rollover {
      position: absolute;
      bottom: 15%;
      width: 520px;
      margin-left: 20px;
      padding: 20px;
      .feature-title {
        color: white;
        font-family: Raleway;
        font-size: 60px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;

        .title-sign {
          display: block;
          color: white;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-transform: uppercase;
        }
      }
      .feature-content {
        margin-bottom: 40px;
        color: white;
        font-family: Lora;
        font-size: 15px;
        font-style: italic;
        line-height: 30px;
      }
      .read-more-slider {
        width: 151px;
        height: 51px;
        padding: 20px 33px;
        background-color: #ffaf36;
        color: #1c1c1c;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
}

.about-us {
  .left-block {
    float: left;
    .about-title {
      color: #1c1c1c;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 800;
      line-height: 24px;
      text-transform: uppercase;
    }
    .title-sign {
      color: #1c1c1c;
      font-family: Lora;
      font-size: 16px;
      font-style: italic;
      line-height: 30px;
    }
  }
  .right-block {
    float: right;
    max-width: 645px;
    width: 100%;
    .about-contant {
      color: #585858;
      margin-bottom: 31px;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
    .about-read-more {
      clear: both;
      float: left;
      width: 151px;
      height: 51px;
      border: 2px solid #ffaf36;
      color: #ffaf36;
      font-family: Raleway;
      font-size: 13px;
      padding: 20px 34px;
      line-height: 10px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.services {
  background-color: #eaeff3;

  .services-title {
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
  }
  .services-description {
    color: #1c1c1c;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
  }

  .services-item {
    @include span(12 of 12);

    li {
      display: inline-block;
      max-width: 500px;
      width: 100%;
      margin: 10px;
      .post-img {
        float: left;
        margin-right: 20px;
      }
      .rollover {
        float: right;
        width: 80%;
        .item-title {
          margin-bottom: 20px;
          color: #1c1c1c;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
        }
        .services-contatn {
          color: #585858;
          font-family: OpenSans;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }
  .services-viev-more {
    clear: both;
    float: left;
    width: 151px;
    height: 51px;
    border: 2px solid #ffaf36;
    color: #ffaf36;
    font-family: Raleway;
    font-size: 13px;
    padding: 20px 34px;
    line-height: 10px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.clients {
  .clients-title {
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
  }
  .clients-description {
    color: #1c1c1c;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
  }
  .clients-item {
    li {
      display: inline-block;
      max-width: 318px;
      width: 100%;
      margin: 0 15px;
      color: #585858;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;

      .clients-services-content {
        color: #585858;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
      }
      .rollover {
        .clients-photo {
          float: left;
          width: 68px;
          height: 68px;
          margin-right: 20px;
          display: block;
          overflow: hidden;
          border-radius: 100%;
        }
        .clients-item-title {
          color: #1c1c1c;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
        }
        .clients-category {
          color: #585858;
          font-family: OpenSans;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }
}

.news {
  background-color: #eaeff3;
  .news-blog {
    &:first-of-type {
      @include span(6 of 12);
    }
  }
  .news-title {
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
  }
  .news-sign {
    color: #1c1c1c;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
  }
  .content-post {
    width: 40%;

    li {
      display: inline-block;
    }

    .posted-date {
      font-family: OpenSans;
      line-height: 18px;
      .date {
        .date-number {
          display: block;
          color: #1c1c1c;
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
        }
        .date-month {
          color: #565656;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .post-meta {
      margin-left: 0;
      color: #565656;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      li {
        list-style-type: none;
        display: inline-block;
      }
      .fa-comment {
        display: block;
        font-size: 30px;
        color: #1c1c1c;
        font-family: Simple;
        font-size: 30px;
        line-height: 18px;
      }
    }
  }
  .post-description {
    display: inline-block;
    width: 450px;

    .post-img {
      max-width: 445px;
      width: 100%;
      height: 221px;
      background-image: linear-gradient(122deg, rgba(54, 168, 255, 0.08) 0%, rgba(255, 175, 54, 0.08) 100%);
    }
    .post-title {
      margin: 38px 0 20px;
      a {
        color: #1c1c1c;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    p {
      max-width: 393px;
      width: 100%;
      color: #585858;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .news-viev-more {
    width: 151px;
    height: 51px;
    margin-left: 115px;
    border: 2px solid #ffaf36;
    color: #ffaf36;
    font-family: Raleway;
    font-size: 13px;
    padding: 20px 34px;
    line-height: 10px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.partners {
  .partners-title {
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
  }
  .partners-sign {
    color: #1c1c1c;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
  }
  .partners-item {
    display: flex;
    width: 100%;
    li {
      display: inline-block;
      width: 15%;
      min-height: 90px;
      padding: 20px 30px;
      border: 1px solid #eaeff3;
      text-align: center;
      img {
        text-align: center;
        line-height: 90px;
      }
    }
  }
}