/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
#masthead {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: rgba(88, 92, 100, 0.5);
}

/* line 7, ../sass/_header.scss */
.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
/* line 12, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.10/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 12, ../sass/_header.scss */
.site-branding .logo-wrapper {
  float: left;
  width: 164px;
  height: 34px;
  margin: 0 20px 0 0;
  padding: 0;
}
/* line 20, ../sass/_header.scss */
.site-branding .site-phone {
  float: left;
  overflow: hidden;
  line-height: 55px;
  color: white;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 30, ../sass/_header.scss */
.site-branding .site-phone .fa {
  padding-right: 10px;
  color: #ffaf36;
  font-family: Simple;
  font-size: 22px;
  text-transform: uppercase;
}

/* line 40, ../sass/_header.scss */
#primary-nawigation {
  float: right;
}

/* line 1, ../sass/_footer.scss */
.site-footer {
  width: 100%;
  padding: 80px 0;
  display: flex;
  background-color: #2a2b2c;
}
/* line 7, ../sass/_footer.scss */
.site-footer .copyrigh-block {
  width: 170px;
  margin-right: 200px;
  float: left;
}
/* line 11, ../sass/_footer.scss */
.site-footer .copyrigh-block .copyright {
  color: #8e8e8e;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: OpenSans;
  font-weight: 300;
}
/* line 18, ../sass/_footer.scss */
.site-footer .copyrigh-block .copyright .design-sign {
  display: none;
}
/* line 21, ../sass/_footer.scss */
.site-footer .copyrigh-block .copyright a {
  color: #8e8e8e;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: OpenSans;
  font-weight: 300;
  text-decoration: none;
}
/* line 33, ../sass/_footer.scss */
.site-footer .footer-navigation {
  float: left;
  width: 165px;
  margin-right: 120px;
}
/* line 38, ../sass/_footer.scss */
.site-footer .footer-navigation #footer-menu {
  margin-left: 0;
}
/* line 40, ../sass/_footer.scss */
.site-footer .footer-navigation #footer-menu li {
  width: 100%;
  line-height: 19px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #7b7b7c;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #373839;
}
/* line 52, ../sass/_footer.scss */
.site-footer .footer-navigation #footer-menu li a {
  line-height: 39px;
  text-transform: uppercase;
  color: #ffaf36;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: 400;
  color: #7b7b7c;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
/* line 66, ../sass/_footer.scss */
.site-footer .footer-navigation #footer-menu li:hover {
  color: #fff;
}
/* line 72, ../sass/_footer.scss */
.site-footer .footer-navigation .footer-nav-title {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 81, ../sass/_footer.scss */
.site-footer .feedback-form {
  float: left;
  width: 460px;
}
/* line 85, ../sass/_footer.scss */
.site-footer .feedback-form .contact-form-title {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 95, ../sass/_footer.scss */
.site-footer .feedback-form .contact .contact-form h2 {
  display: none;
}
/* line 99, ../sass/_footer.scss */
.site-footer .feedback-form .contact .contact-form .form-group #name, .site-footer .feedback-form .contact .contact-form .form-group #email {
  float: left;
  width: 223px;
  height: 47px;
  padding: 0 5px;
  background-color: #2a2b2c;
  border: 1px solid #373839;
}
/* line 107, ../sass/_footer.scss */
.site-footer .feedback-form .contact .contact-form .form-group #name placeholder, .site-footer .feedback-form .contact .contact-form .form-group #email placeholder {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #737476;
}
/* line 116, ../sass/_footer.scss */
.site-footer .feedback-form .contact .contact-form .form-group #mess {
  width: 457px;
  height: 97px;
  background-color: #2a2b2c;
  border: 1px solid #373839;
}
/* line 123, ../sass/_footer.scss */
.site-footer .feedback-form .contact .contact-form .button-default {
  width: 151px;
  height: 51px;
  border: none;
  border: 2px solid #ffaf36;
  padding: 20px 28px;
  color: #ffaf36;
  background: none;
  background: #2a2b2c;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  box-shedow: none;
  text-shadow: none;
}

/* line 15, ../sass/screen.scss */
section {
  padding: 100px 0;
}

/* line 19, ../sass/screen.scss */
#page {
  width: 100%;
  margin: 0 auto;
}

/* line 24, ../sass/screen.scss */
.copyright {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
/* line 29, ../sass/screen.scss */
.copyright .design-sign {
  color: #2df555;
}

/* line 34, ../sass/screen.scss */
.social-icons {
  display: inline;
  float: left;
  margin: 40px 0px;
  width: 100%;
}
/* line 40, ../sass/screen.scss */
.social-icons li {
  display: inline-block;
  margin: 0 2px;
}
/* line 44, ../sass/screen.scss */
.social-icons li a {
  width: 29px;
  height: 29px;
  padding: 10px;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #373839;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 59, ../sass/screen.scss */
.social-icons li .facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}
/* line 65, ../sass/screen.scss */
.social-icons li .twitter:hover {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
}
/* line 72, ../sass/screen.scss */
.social-icons li .google-plus:hover {
  color: #fff;
  background-color: #dd4b39;
  border-color: #dd4b39;
}
/* line 79, ../sass/screen.scss */
.social-icons li .youtube:hover {
  color: #fff;
  background-color: #bb0000;
  border-color: #bb0000;
}
/* line 86, ../sass/screen.scss */
.social-icons li .linkedin:hover {
  color: #fff;
  background-color: #007bb5;
  border-color: #007bb5;
}
/* line 93, ../sass/screen.scss */
.social-icons li .dribbble:hover {
  color: #fff;
  background-color: #ea4c89;
  border-color: #ea4c89;
}

/* line 102, ../sass/screen.scss */
.slider-wrapper {
  padding: 0;
}

/* line 108, ../sass/screen.scss */
.slideshow .slideshow-item .slideshow-rollover {
  position: absolute;
  bottom: 15%;
  width: 520px;
  margin-left: 20px;
  padding: 20px;
}
/* line 114, ../sass/screen.scss */
.slideshow .slideshow-item .slideshow-rollover .feature-title {
  color: white;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 122, ../sass/screen.scss */
.slideshow .slideshow-item .slideshow-rollover .feature-title .title-sign {
  display: block;
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 132, ../sass/screen.scss */
.slideshow .slideshow-item .slideshow-rollover .feature-content {
  margin-bottom: 40px;
  color: white;
  font-family: Lora;
  font-size: 15px;
  font-style: italic;
  line-height: 30px;
}
/* line 140, ../sass/screen.scss */
.slideshow .slideshow-item .slideshow-rollover .read-more-slider {
  width: 151px;
  height: 51px;
  padding: 20px 33px;
  background-color: #ffaf36;
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* line 157, ../sass/screen.scss */
.about-us .left-block {
  float: left;
}
/* line 159, ../sass/screen.scss */
.about-us .left-block .about-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 167, ../sass/screen.scss */
.about-us .left-block .title-sign {
  color: #1c1c1c;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
/* line 175, ../sass/screen.scss */
.about-us .right-block {
  float: right;
  max-width: 645px;
  width: 100%;
}
/* line 179, ../sass/screen.scss */
.about-us .right-block .about-contant {
  color: #585858;
  margin-bottom: 31px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
/* line 187, ../sass/screen.scss */
.about-us .right-block .about-read-more {
  clear: both;
  float: left;
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  font-family: Raleway;
  font-size: 13px;
  padding: 20px 34px;
  line-height: 10px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 205, ../sass/screen.scss */
.services {
  background-color: #eaeff3;
}
/* line 208, ../sass/screen.scss */
.services .services-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 216, ../sass/screen.scss */
.services .services-description {
  color: #1c1c1c;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
/* line 224, ../sass/screen.scss */
.services .services-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 227, ../sass/screen.scss */
.services .services-item li {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  margin: 10px;
}
/* line 232, ../sass/screen.scss */
.services .services-item li .post-img {
  float: left;
  margin-right: 20px;
}
/* line 236, ../sass/screen.scss */
.services .services-item li .rollover {
  float: right;
  width: 80%;
}
/* line 239, ../sass/screen.scss */
.services .services-item li .rollover .item-title {
  margin-bottom: 20px;
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 248, ../sass/screen.scss */
.services .services-item li .rollover .services-contatn {
  color: #585858;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
/* line 258, ../sass/screen.scss */
.services .services-viev-more {
  clear: both;
  float: left;
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  font-family: Raleway;
  font-size: 13px;
  padding: 20px 34px;
  line-height: 10px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 276, ../sass/screen.scss */
.clients .clients-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 284, ../sass/screen.scss */
.clients .clients-description {
  color: #1c1c1c;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
/* line 292, ../sass/screen.scss */
.clients .clients-item li {
  display: inline-block;
  max-width: 318px;
  width: 100%;
  margin: 0 15px;
  color: #585858;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
/* line 303, ../sass/screen.scss */
.clients .clients-item li .clients-services-content {
  color: #585858;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
/* line 311, ../sass/screen.scss */
.clients .clients-item li .rollover .clients-photo {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 20px;
  display: block;
  overflow: hidden;
  border-radius: 100%;
}
/* line 320, ../sass/screen.scss */
.clients .clients-item li .rollover .clients-item-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 328, ../sass/screen.scss */
.clients .clients-item li .rollover .clients-category {
  color: #585858;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

/* line 340, ../sass/screen.scss */
.news {
  background-color: #eaeff3;
}
/* line 343, ../sass/screen.scss */
.news .news-blog:first-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 347, ../sass/screen.scss */
.news .news-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 355, ../sass/screen.scss */
.news .news-sign {
  color: #1c1c1c;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
/* line 362, ../sass/screen.scss */
.news .content-post {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 365, ../sass/screen.scss */
.news .content-post .posted-date {
  font-family: OpenSans;
  line-height: 18px;
}
/* line 369, ../sass/screen.scss */
.news .content-post .posted-date .date .date-number {
  display: block;
  color: #1c1c1c;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 376, ../sass/screen.scss */
.news .content-post .posted-date .date .date-month {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
}
/* line 383, ../sass/screen.scss */
.news .content-post .post-meta {
  margin-left: 0;
  color: #565656;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
/* line 390, ../sass/screen.scss */
.news .content-post .post-meta li {
  list-style-type: none;
}
/* line 393, ../sass/screen.scss */
.news .content-post .post-meta .fa-comment {
  display: block;
  font-size: 30px;
  color: #1c1c1c;
  font-family: Simple;
  font-size: 30px;
  line-height: 18px;
}
/* line 403, ../sass/screen.scss */
.news .post-description {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: right;
}
/* line 407, ../sass/screen.scss */
.news .post-description .post-img {
  max-width: 456px;
  width: 100%;
  height: 221px;
  background-image: linear-gradient(122deg, rgba(54, 168, 255, 0.08) 0%, rgba(255, 175, 54, 0.08) 100%);
}
/* line 413, ../sass/screen.scss */
.news .post-description .post-title {
  margin: 38px 0 20px;
}
/* line 415, ../sass/screen.scss */
.news .post-description .post-title a {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 425, ../sass/screen.scss */
.news .post-description p {
  max-width: 393px;
  width: 100%;
  color: #585858;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
/* line 435, ../sass/screen.scss */
.news .news-viev-more {
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  font-family: Raleway;
  font-size: 13px;
  padding: 20px 34px;
  line-height: 10px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 450, ../sass/screen.scss */
.partners .partners-title {
  color: #1c1c1c;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 458, ../sass/screen.scss */
.partners .partners-sign {
  color: #1c1c1c;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
/* line 465, ../sass/screen.scss */
.partners .partners-item {
  display: flex;
  width: 100%;
}
/* line 468, ../sass/screen.scss */
.partners .partners-item li {
  display: inline-block;
  width: 15%;
  min-height: 90px;
  padding: 20px 30px;
  border: 1px solid #eaeff3;
  text-align: center;
}
/* line 475, ../sass/screen.scss */
.partners .partners-item li img {
  text-align: center;
  line-height: 90px;
}
